<div class="col-sm-12 pt-2">
    <div class="col-md-12" >
        <h2>Angular ToDo App</h2>
            <input type="text" name="" class="item input-lg" #item>
                <button class="btn btn-info btn-sm mr-2" (click)="create(item.value)">Add new task</button>
                    <div *ngIf='show' >
                        <app-task-detail [task]="selectedTask" (close)="onHandleClose()"></app-task-detail>
                    </div>
                    <div *ngFor="let date of datagrouped | keys">
                        <h4>{{date}}</h4><br><hr>
                            <div *ngFor="let item of datagrouped[date]">{{item.title}}<br> 
                                <button type="button" class="btn btn-info btn-sm mr-2" (click)="onSelect(item)">Edit</button> 
                                <button type="button" class="btn btn-danger btn-sm" (click)="remove(item.id)">Delete</button>
                                <hr>
                    </div>
    </div>
</div>