hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid;
  }
  h4{
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 700;
  }
  .input-lg {
    height: 30px;
    border-radius: 0px;
    margin-top: 10px;
    width: 100%;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 1px 20px;
    margin-top:10px;
}